body {
    background-color: #438CA1;
}

.top-space {
    margin-top:20px;
}

.button-vspace {
    margin-top:10px;
}

.btn-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-lg, .btn-group-lg>.btn {
    /*padding: 15px 16px 13px;*/
    /*line-height: 15px;*/
}

#cy {
    width: 900px;
    height: 225px;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 200;*/
    /*background-color: #127ba3;*/
    background-color: #ffffff;
}

#grid-canvas {
    position: absolute;
    /*background-color: #FFFF00;*/
    z-index: 0;
}